.title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10vh;
  background-color: lightblue;
}

.travelblog {
  padding: 30px;
  font-size: 25px;
  font-weight: 800;
  color: lightslategray;
}

.contentcontainer {
  height: 85vh;
}

.box1,
.box2 {
  border: 3px solid black;
  width: 40vw;
  height: 30vh;
  margin: 20px;
  padding: 10px;
}

img {
  width: 70%;
}
